.heart__container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding-bottom: 30%;
     margin-top: -15px;
}

.heart__card {
     position: relative;
     width: 100%;
     max-width: 500px;
}

.image-container {
     position: relative;
     width: 100%;
     border-radius: 10px;
     overflow: hidden;
}

.image-container img {
     width: 100%;
     height: auto;
     object-fit: cover;
     transition: opacity 0.3s ease-out;
}

.fade-out {
     opacity: 0;
}

.fade-in {
     opacity: 1;
}

.heart__txt__sli {
     position: relative;
}

.text_sli {
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: column;
     position: absolute;
     bottom: 50px;
     left: 50px;
     transition: opacity 0.3s ease-out;
}

.text_sli > p {
     color: white;
     font-size: 27px;
     font-weight: bold;
     margin: 0;
}

.text_sli > span {
     color: white;
     font-size: 19px;
     font-weight: 100;
}

.btn-swip {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 200px;
     margin-top: -20px;
     position: relative;
     z-index: 2;
}

.heart-icon,
.cross-icon {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 1;
}

/* Адаптивность */
@media (max-width: 391px) {
     .heart__card {
          max-height: 580px;
     }

     .btn-swip {
          gap: 180px;
     }

     .image-container {
          /* max-height: 560px; */
     }
}

@media (max-width: 376px) {
     .heart__card {
          max-height: 465px;
     }

     .image-container {
          width: 330px;
          /* max-height: 510px; */
          margin: 0 auto;
     }
}

@media (max-width: 361px) {
     .heart__card {
          /* max-height: 550px; */
     }

     .image-container {
          width: 330px;
          /* max-height: 590px; */
     }
}