.header__layout__container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.header__container {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

/* Контейнер для ссылок */
.header__links {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
}

/* Общие стили ссылок */
.header__link {
     font-size: 20px;
     color: #222;
     text-decoration: none;
     font-weight: 100;
     border-bottom: 2px solid transparent;
     transition: all 0.3s ease-in-out;
}

/* Эффект при наведении */
.header__link:hover {
     color: #8a2be2;
     border-bottom: 2px solid #8a2be2;
}

/* Активная ссылка (подсвечивается) */
.header__link.active {
     color: #8a2be2;
     border-bottom: 2px solid #8a2be2;
     font-weight: 600;
}